Intro/**.prproj
**/Adobe Premiere Pro Auto-Save
**/Adobe Premiere Pro Audio Previews
#*.xspf

# May be copyrighted, please download it yourself
Tutorial/Original.m4v

Сохранения
~$*.xlsx
Кастинг*.zip

**/tmp